<h1 class="text-center mt-4 mb-5">Edit status</h1>

<%# <%= render 'dashboard'%>
<%= form_for(@status) do |f| %>
  <div class="container">
    <br>
    <br>
    <div>
      <div>
        <%= f.label :date %>
        <%= f.date_field :date %>
      </div>

      <div>
        <%= f.fields_for :tasks do |t| %>
          <%= render "task_fields", :f => t %>
        <% end %>

        <div class="ml-3 row justify-content-between mt-5">
          <%= link_to_add_association "Add Task", f, :tasks ,class: "btn btn-secondary text-light my-1  ml-3 col-2" %>
        </div>
      </div>

      <div class="row justify-content-center d-flex mt-5">
        <%# <%= f.submit %>
        <button type="submit" class="btn btn-primary btn-lg col-4 mb-5" >
          Edit User
        </button>    </div>
    </div>
  </div>
<% end %>

<div class="text-center">
  <h3><%= link_to '[ Back to Dashboard ]',root_path, class:"btn btn-outline-secondary btn-sm ms-2 mb-3" %></h3>
</div>
