<h1 class="text-center mt-4 mb-5">Edit status</h1>

<div class="container">
  <%= form_with  do |f| %>

    <div class="form-group shadow pt-3 pl-3 mb-3 bg-light  rounded flex-column d-flex" >
      <div class="form-group row">

        <%= f.label "Task's name",class: "col-2 col-form-label text-dark" %>
        <div class="col-9">
          <%= f.text_field :name, class: "form-control shadow rounded" %>
        </div>
      </div>

      <div class="form-group row">

        <%= f.label "PR",class: "col-2 col-form-label text-dark" %>
        <div class="col-9">
          <%= f.text_field :pr, class: "form-control shadow rounded" %>
        </div>
      </div>

      <div class="form-group row">

        <%= f.label "HOUR",class: "col-2 col-form-label text-dark" %>
        <div class="col-2">
          <%= f.number_field :hours,step:"1", class: "form-control shadow rounded"%>
        </div>
      </div>

    </div>
    <div class="row justify-content-center d-flex mt-5">
      <%# <%= f.submit %>
      <button type="submit" class="btn btn-outline-info btn-lg col-3 mb-5" data-toggle="modal" data-target="#exampleModal">
        Done
      </button>    </div>
  <%end%>

</div>
