<h2 class="text-center mb-5 "> Status History </h2>

<% @statuses.each do |status| %>
  <div class="text-center">
    <h4> <%= status.date%> </h4>
  </div>

  <div class="container">
    <div class="form-group shadow pt-3 pb-3 pl-3 pr-3 bg-light rounded flex-column d-flex" >
      <table border=1>
        <tr>
          <th> Task Name </th>
          <th> PR Link </th>
          <th> Hrs Spent </th>
        </tr>
        <% status.tasks.each do |task| %>
          <tr>
            <td> <%= task.name %> </td>
            <td> <%= link_to "GITHUB PR LINK", task.pr, target: '_blank' %> </td>
            <td> <%= task.hours %> </td>
          </tr>
        <% end %>
      </table>

    </div>
    <div>
      <%= link_to 'EDIT',edit_status_path(status), class:"btn btn-outline-primary btn-sm mb-3" %>
      <%= link_to 'DELETE',status_path(status), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger btn-sm ms-2 mb-3" %>
    </div>
  </div>

<% end %>

<div class="flickr_pagination mb-5">
  <%= will_paginate @statuses, :container => false %>
</div>

<div class="text-center">
  <h3><%= link_to '[ Back to Dashboard ]',root_path, class:"btn btn-outline-secondary btn-sm ms-2 mb-3" %></h3>
</div>
